<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7wQGap3Amizz3yvTwdsic5hgTZAPpZ8"></script>
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7wQGap3Amizz3yvTwdsic5hgTZAPpZ8"</script> -->
</head>
<body>
<div id="app">{{ html|safe }}</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/vendor.bundle.js"></script>
<!-- <script src="/js/bundle.js"></script> -->
</body>
</html>